/Images
/assets/audio
/assets/video

#We are excluding the sass and map files
/assets/sass/*.sass
/assets/sass/*.map

#Exclude node_modules folder
/node_modules
package-lock.json

#Exclude React folder
/applications