
# dependencies
/ReactApplications/functioncomponent/node_modules
/ReactApplications/functioncomponent/.pnp
/ReactApplications/functioncomponent/.pnp.js
/ReactApplications/cartdemo/node_modules
/ReactApplications/cartdemo/.pnp
/ReactApplications/cartdemo/.pnp.js
/ReactApplications/cartdemo2/node_modules
/ReactApplications/cartdemo2/.pnp
/ReactApplications/cartdemo2/.pnp.js
/ReactApplications/statemanagementroute/node_modules
/ReactApplications/statemanagementroute/.pnp
/ReactApplications/statemanagementroute/.pnp.js

#Other folder/paths
/Images
/assets/audio
/assets/video
/applications

#We are excluding the sass and map files
/assets/sass/*.sass
/assets/sass/*.map

#Exclude node_modules folder
/node_modules
package-lock.json

#Exclude React folder
/applications