/**
* Description : Adding CSS file for dom file
*/
.btnRed {
    background-color: red;
    color: white;
}

body {
    background-color:beige;
}
#form, #div, #para {
    border: 1px solid #000cba;
}